@font-face {
  font-family: arcade;
  src: url('./assets/font/arcade.regular.ttf') format('truetype');
}

main {
  background: repeat url('./assets/glitter.gif');
}

.universe-surface {
  background: no-repeat url('./assets/real-earth.png') center/50%;
}
